torch>=2.0.0
torchvision
opencv-python
scipy>=1.11,<2
scikit-image
huggingface_hub==0.25.2
transformers>=4.39.1
timm
fastapi==0.108.0
uvicorn
python-multipart
python-socketio==5.7.2
typer
typer-config==1.4.0
pydantic>=2.5.2
rich
loguru
yacs
Pillow>=9.5.0
rembg[cpu]
